:root {
	// General Colors
	// --primary-color: #6528f7;
	// --secondary-color: #a076f9;

	// Background Colors
	// --bg-body: #ede4ff;
	// --bg-button: #6528f7;
	// --bg-button-active: #9872f1;
	// --bg-theme-toggler: #cbbfe8;
	// --bg-theme-toggler-active: #9872f1;
	// --bg-theme-toggler-thumb: #6528f7;

	// Colors
	--color-button: #fff;
	--color-link: #a076f9;
	--color-link-active: #6528f7;

	// Radius
	--radius-button: 0.4375rem;

	// Sizes
	--size-title: 8rem;
	--size-button: 1.125rem;
	--size-page-title: 5rem;

	// Paddings
	--padding-container: 20px;

	// Transition Durations
	--duration-theme-toggler: 0.3s;

	@include mobile {
		// Sizes
		--size-title: 4.875rem;
		--size-button: 0.875rem;
		--size-page-title: 3.125rem;
	}
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background: var(--bg-body);
}

a[role='button'] {
	cursor: pointer;
}
button:disabled {
	cursor: not-allowed;
}
a {
	text-decoration: none;
}
.container {
	padding: 0 var(--padding-container);
}
* {
	box-sizing: border-box;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0;
}

body {
	font-family: 'GT Walsheim Pro';
	font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto;
}

.default-container {
	margin: 20px 0 44px 0;
	// margin: 0 210px;
	img {
		display: flex;
		margin: 0 auto;
	}
	@include tablet-big;
	@include mobile {
		margin: 0 40px;
	}
}

button {
	color: red;
	&.btn {
		margin-top: 20px;
		&.btn-loadmore {
			border-radius: 4px;
			background: var(--Primary-Lightest, #f2f9fe);
			color: var(--Primary-500---Accent, #2196f3);
			border: none;
			display: flex;
			width: 154px;
			height: 36px;
			padding: 10px 16px;
			gap: 10px;
			font-size: 14px;
			font-weight: 500;
			line-height: 16px;
			letter-spacing: 1.25px;
			box-shadow:
				0px 6px 10px 0px rgba(0, 0, 0, 0.14),
				0px 1px 18px 0px rgba(0, 0, 0, 0.12),
				0px 3px 5px 0px rgba(0, 0, 0, 0.2);
			margin: 0 auto;
			justify-content: center;
		}
	}
}
