.card-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 10px;
}

.card {
	width: calc(30% - 20px);
	box-sizing: border-box;
	@include rem(margin, 10px);
	cursor: pointer;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 10px;
	color: white;
	background-color: rgb(60, 62, 68);
	transition:
		transform 0.3s ease-in-out,
		box-shadow 0.3s ease-in-out;
	a {
		color: white;
	}
	.status {
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		text-transform: capitalize;
		&__icon {
			height: 0.5rem;
			width: 0.5rem;
			margin-right: 0.375rem;
			background: rgb(158, 158, 158);
			border-radius: 50%;
			&.Alive {
				background: rgb(85, 204, 68);
			}
			&.Dead {
				background-color: rgb(214, 61, 46);
			}
		}
	}
	&:hover {
		transform: scale(1.05);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

	img {
		max-width: 100%;
		max-height: 300px;
		height: auto;
	}

	h3 {
		@include rem(margin-top, 10px);
		@include rem(font-size, 20px);
	}

	@media screen and (max-width: 768px) {
		width: calc(50% - 20px); // 2 items per row on smaller screens
	}

	@media screen and (max-width: 480px) {
		width: calc(100% - 20px); // 1 item per row on even smaller screens
	}
}

.characters-home {
	.card {
		h3 {
			@include rem(margin-bottom, 20px);
		}
	}
}
