.character-image-name {
	h2 {
		color: $black-second;
		font-weight: 400;
		font-size: clamp(1rem, 6vw, 3rem);
	}

	img {
		border-radius: 150px;
		border: 5px solid var(--Graybase-Gray-6, #f2f2f7);
		background: lightgray 50% / cover no-repeat;
	}
}

.details-top.character {
	align-items: unset;
}

.character-details {
	display: flex;
	@include rem(gap, 20px);
	&-info,
	&-episodes {
		color: $gray;
		@include rem(font-size, 20px);
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0.15px;
		h2 {
			@include rem(margin-bottom, 36px);
		}
	}
	&-info {
		flex: 0 0 50%;
	}
	&-episodes {
		flex: 0 0 50%;
	}
}

.character-data {
	&.episode {
		overflow-y: scroll;
		height: 270px;
		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #6e798c;
			border-radius: 5px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background-color: #39414d;
		}

		&::-webkit-scrollbar-track {
			background-color: #e0e0e0;
		}
	}
	li {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid rgba(33, 33, 33, 0.08);
		@include rem(gap, 5px);
		@include rem(margin-bottom, 10px);
	}
	&-bold {
		font-weight: bold;
		color: $black-second;
	}
	&-gray {
		color: #6e798c;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0.25px;
		&--s {
			font-size: 10px;
			font-style: normal;
			font-weight: 500;
			line-height: 16px;
			letter-spacing: 1.5px;
			text-transform: uppercase;
		}
	}
}
